#box1 {
    background-color: red;
}
#box2 {
    background-color: blue;
}
#box3 {
    background-color: green;
}
#box4 {
    background-color: orange;
    color: #47FF33;
}
.box {
    height: 200px;
    width: 200px;
    margin-top: 300px;
    margin-left: 10%;
    float: left;
}
